spring:
  profiles:
    active: ${ACTIVE_PROFILE:dev}
  application:
    name: stripe-payment-integration
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:stripe_payments}
    username: ${DB_USERNAME:stripe_user}
    password: ${DB_PASSWORD:stripe_pass}
    driver-class-name: org.postgresql.Driver
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: true

server:
  servlet:
    context-path: /payment-integration/api/

cors:
  allowed-origins:
    - http://localhost:3000
    - http://localhost:5173
  allowed-methods:
    - GET
    - POST
    - PUT
    - PATCH
    - DELETE
    - OPTIONS
  allowed-headers:
    - "*"
  allow-credentials: false
  max-age: 3600

stripe:
  secret-key: ${STRIPE_SECRET_KEY:}
  web-hook-secret-key: ${STRIPE_WEBHOOK_SECRET:}

payments:
  sync:
    fixed-delay-ms: ${PAYMENTS_SYNC_RATE:300000}
    batch-size: ${PAYMENTS_SYNC_BATCH_SIZE:50}
